<div class="top">
    <h1>
        <span>Daily Moo Mood</span>
        <img src="~/assets/img/title.png" class="img-title">
    </h1>
    <img src="~/assets/img/bg.png" class="img-bg" alt="">
    <img src="~/assets/img/sun.png" class="img-sun">
    <div class="btn-wrap">
        <a class="btn-signin" asp-action="SignIn">
            Sign In
        </a>
        <a class="btn-signUp" asp-action="SignUp">Don’t have a account?<br> Join us now!</a>
    </div>
</div>
<div class="bg-2">
</div>
<footer>
    <p>© How's going Arizona?</p>
</footer>
<style>
    body {
        margin: auto 0;
    }

    .top {
        background: #61A5DB;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    h1 span {
        opacity: 0;
    }

    .img-title {
        height: auto;
        width: 75vw;
        z-index: 10;
        position: relative;
    }

    .btn-wrap {
        flex-direction: column;
        display: flex;
    }

    .btn-signin {
        position: relative;
        z-index: 10;
        background: #fff;
        border: #000 solid 3px;
        padding: 10px 40px;
        border-radius: 5px;
        font-size: 21px;
        transition: all .3s linear;
    }

        .btn-signin:hover {
            transition: all .3s linear;
            border: #ff943d solid 3px;
            color: #ff943d;
        }

    .btn-signUp {
        position: relative;
        z-index: 10;
        color: #fff;
        padding: 5px 0px;
        font-size: 14px;
        text-decoration: underline;
        text-align: center;
        transition: all .3s linear;
    }

        .btn-signUp:hover {
            transition: all .3s linear;
            color: #ff7300;
        }

    .img-bg {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: auto;
        left: 0;
        z-index: 8;
    }

    .img-cow {
        position: absolute;
        width: auto;
        height: 200px;
        right: 100px;
        bottom: 150px;
    }

    .img-sun {
        position: absolute;
        width: auto;
        height: 80px;
        top: 100px;
        left: 100px;
    }

    h1, h2 {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .bg-2 {
        background: #75B864;
    }

    .bg-calendar {
        background: rgba(255, 255, 255, 0.4);
    }

    footer {
        background: #000;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
    }

        footer p {
            margin: 0;
        }
</style>